{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>
          Joshua got his B.Eng at the University of Benin from the department of Electrical and Electronic Engineering. After several years of learning designs and getting the fundamentals of the engineering of things, he decided to digitalize the knowledge he had gathered in the past few years, which is one of the ways for him to harness all his skills and managerial abilities.

          Immediately after graduation, he started the journey of development, building algorithms, making 2D designs, modeling, and designing graphics to meet virtual needs.

          His love for self-improvement and continuous learning inspired him to take up a professional course in python programming, where he got certified as a Python Developer and a Data Analyst.
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}